<div class="mb-sm">
  Вопрос задал <%= question_author(question) %>
</div>

<div class="mb-sm <%= question.hidden? ? "text-hidden" : "text-grey" %>">
  <%= simple_format(h(question.body)) %>
</div>

<% if question.answer.present? %>
  <div class="mb-sm <%= question.hidden? ? "text-hidden" : "text-dark-red" %>"> 
    <%= simple_format(h(question.answer)) %>
  </div>
<% end %>

<div class="text-sm question-footer">
  <div class="text-grey">
    <%= l(question.created_at, format: :short) %>
  </div>
  
  <% if current_user == question.user %>
    <div>
      <% edit_icon = (question.answer.present? ? "pencil" : "reply") %>

      <%= link_to fa_icon(edit_icon), edit_question_path(question),
       title: "Изменить вопрос", class: "mr-sm" %>
      
      <% hide_icon = (question.hidden? ? "" : "eye-slash") %>

      <%= button_to fa_icon(hide_icon), hide_question_path(question),
       method: :patch, title: "Скрыть вопрос", class: "mr-sm" %>

      <% unless question.hidden? %>
        <%= button_to fa_icon("eye-slash"),
          hide_question_path(question),
          method: :patch, title: "Скрыть вопрос" %>
      <% end %>

      <%= button_to fa_icon("trash-o"), question_path(question), method: :delete,
       title: "Удалить вопрос", form: {data: {turbo_confirm: "Точно удалить?" }} %>
    </div>
  <% end %>
</div>
